# Dependencies
node_modules/
.pnp
.pnp.js
bun.lockb

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Drizzle
drizzle/

# Logs
*.log
npm-debug.log*
