[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
tempo-testnet = "${TEMPO_TESTNET_RPC}"

[etherscan]
tempo-testnet = { key = "${ETHERSCAN_API_KEY}" }
